#{{board_selector}} { 
  width: {{board_width}} px;
  height: {{board_height}} px;
  /*  rotate(-45deg) skew(15deg, 15deg) */
  -webkit-transform: matrix(0.95, -0.57, 0.90, 0.52, 0, 0);
  -moz-transform: matrix(0.95, -0.57, 0.90, 0.52, 0, 0);
  transform: matrix(0.95, -0.57, 0.90, 0.52, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.{{tile_class}} {
  width: {{tile_width}} px;
  height: {{tile_height}} px;
  display: block;
  float: left;
  padding:0px;
  margin:0px;
}

.{{sprite_class}}.facing-right {
  /* The inverse matrix of the viewport transformation */
  -webkit-transform: matrix(0.52, 0.57, -0.90, 0.95, 0, 0);
  -moz-transform: matrix(0.52, 0.57, -0.90, 0.95, 0, 0); 
  transform: matrix(0.52, 0.57, -0.90, 0.95, 0, 0);
}

.{{sprite_class}}.facing-left {
  /* The inverse matrix of the viewport transformation, reflected over the y axis */
  -webkit-transform: matrix(-0.52, -0.57, -0.90, 0.95, 0, 0);
  -moz-transform: matrix(-0.52, -0.57, -0.90, 0.95, 0, 0); 
  transform: matrix(-0.52, -0.57, -0.90, 0.95, 0, 0);
}

