<html>
<head>
<link rel="stylesheet" href="css/monkey.css" type="text/css" media="screen" /> 

<script src="js/jquery-1.4.2.min.js"></script>
<script src="js/jquery-ui-1.8.2.custom.mins.js"></script>
<script src="js/underscore-0.6.0.min.js"></script>
<script src="js/spriteful.js"></script>

<script>
  var config = {
    heartbeat_interval: 200,
    board: {
      tile_width: 10,
      tile_height: 10,
      rows: 40,
      cols: 40
    },
    tile_class: 'tile',
    player_id: 'player',
    actor_class: 'actor',
    sprite_class: 'sprite'
  }
  

  
  $(function() {
    // Load generic game engine
    $('#content').spriteful(config);
    
    // Run custom game configuration
    
    $('.' + config.tile_class).addClass('grass');
    $('#content').delegate('.' + config.tile_class, 'click', function() {
      $('#' + config.player_id).moveTo($(this));
    });
    
    $('#cell-4-4').placeSprite(
      config.player_id, 
      ['player', 'monkey', 'facing-right'], 
      {sprite:'sprite', num: 0, total: 4}
    );
    
    $('#cell-30-30').placeSprite(
      "large-monkey-0", 
      ['large-monkey', 'facing-left'], 
      {sprite:'sprite', num: 0, total: 4}
    );
    
    $("#large-monkey-0").live('g:idle', function() {
      if (Math.random() * 10 > 9) {
        var dest = _.template("#cell-<%= x %>-<%= y %>", {
          x: Math.round(Math.random() * 100) % config.board.rows,
          y: Math.round(Math.random() * 100) % config.board.cols
        });
      
        // Something weird with the garbage collection won't let me use $(this)
        $('#large-monkey-0').moveTo(dest);
      } else {
        console.log('#large-monkey-0 is staying put');
      }
    });
    
  })
</script>
</head>
<body>
  <div id="content"></div>
</body>
</html>