<html>
<head>
<link rel="stylesheet" href="css/monkey.css" type="text/css" media="screen" /> 

<script src="js/jquery-1.4.2.min.js"></script>
<script src="js/jquery.url-bb2bf.js"></script>
<script src="js/underscore-0.6.0.min.js"></script>
<script src="js/logger.js"></script>
<script src="js/spriteful.js"></script>

<script>
  var ws = new WebSocket("ws://localhost:8888/connect");
  
  WebSocket.prototype.send_message = function(message) {
    var str_message = JSON.stringify(message);
    logger.debug(str_message); 
    return this.send(str_message);
  }
  
  $(function() {
  
    var loop = function(evt) {
      var changes = JSON.parse(evt.data).changes;
      _.each(changes, function(message) {
        var $target;
        if (message.selector) {
          $target = $(message.selector);
        } else {
          $target= $("#content");
        }
        $target.trigger('spriteful:' + message.type, message);
      })
    };
    
    var init = function(evt) {
      var config = JSON.parse(evt.data)
      logger.info("Initializing Spriteful: ");
      logger.info(config);
      
      $("#content").spriteful(config)
                   .delegate('.' + config.tile_class, 'click', function() {
                     $(".player").intentMove($(this));
                   })
                   .delegate('.player', 'spriteful:bite', function(evt, message) {
                     $(this).bite();
                   });
      $('.' + config.tile_class).addClass('grass');
      
      _.each(config.entities, function(entity) {
        var dest = _.template("#cell-<%= x %>-<%= y %>", {
          x: entity.position[0], 
          y: entity.position[1]
        });
        $(dest).placeSprite(entity);
      });

      ws.onmessage = loop;
    };
    
    ws.onmessage = init;

    $(document).keypress(function(event) {
      if (event.which == 32) {
       $(".player").intentBite();
       event.preventDefault();
      }
    });

  })
</script>
</head>
<body>
  <ul>
    <li>Click on the board to move</li>
    <li>Press space to bite</li>
  </ul>
  <div id="content"></div>
</body>
</html>